QLabel{
    border:1px ridge #000000;
    color:red;
    background-color:rgb(0,255,255);
    /*设置图片*/
    border-image:url(E:/QTcode/Lesson_27/07_qss/04_Image/butterfly.png);
}

QPushButton {
    border: 2px outset;
    background-color:green;
}

QPushButton:Pressed {
    border:2px inset;
    background-color:red;
}
