QTreeWidget{
    /*background-color: #faf0e6*/;

    /* set the font properties*/
    color: black;
}

QTreeWidget::item {
     border: 1px solid #d9d9d9;
    /*border-top-color: transparent;
    border-bottom-color: transparent;*/
}
